<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
  <header>
    <div class="col-xs-12"> <!-- was 3-col - centered logo -->
      <div class="colorbar">
      </div>
      <%= link_to root_path, :class => 'logo' do %>
        <div id="cloud">
          <p>
            Don't let 'em rain<br />on your parade
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-sm-offset-4 hidden-xs slogan">
      Advice to help you navigate this world of other people's children.
    </div>

    <div class="col-xs-12 col-sm-4 text-right">
      <div class="btn-group btn-group-lg navlinks" role="group" aria-label="navigation">
        <button type="button" class="btn btn-default my-btn">
          <%= link_to 'Contribute', '#', :data => {:toggle => 'modal', :target => '#myModal'} %>
        </button>
        <button type="button" class="btn btn-default">
          <%= link_to 'About', about_path %>
        </button>
      </div>
    </div>
  </header>


  <!-- working on modal HERE -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">Enter quote details…</h4>
        </div>

        <%= simple_form_for Quote.new do |f| %>
        <div class="modal-body">
          	<%= f.input :saying, :label => "What quote would you like to share?", :placeholder => "Some cause happiness wherever they go; others whenever they go." %>
            <br />
          	<%= f.input :author, :label => "Whose quote is that?", :placeholder => "Oscar Wilde" %>
          	<br />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Nevermind
          </button>
          <%= f.submit 'My 2 cents', :class => 'btn btn-danger' %>
        </div>
        <% end %>

      </div>
    </div>
  </div>


  <hr />
  <br class="clear" />

  <div class="container msg">
      <% if flash[:error].present? %>
        <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% elsif flash[:notice].present? %>
        <div class="col-xs-10 col-xs-offset-1 alert alert-success">
          <%= flash[:notice].html_safe %>
        </div>
      <% end %>

      <div class="col-xs-12">
        <h2 class="catchphrase">
        	<span class="counter">SPLURTY / <%= @quote.id %>:</span>
        	<!-- #<%= @quote.unique_tag %>   UNIT TESTING -->
        	&nbsp;Because life is challenging enough without the <em>supporting cast</em>.
        </h2>

        <%= yield %>
      </div>
      <div class="col-xs-12 pagination">
      <br />
        <ul class="pager">
         <li><%= link_to "Previous", @quote.previous if @quote.previous %></li>
         <li><%= link_to "Next", @quote.next if @quote.next %></li>
       </ul>
     </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1 more">
        <%= link_to "I need more, please…", root_path, :class => 'next-quote' %>
      </div>
      <div class="col-xs-12 col-sm-5 col-sm-offset-2 text-right footer-blurb">
        Remanufactured by SELLIS&#169;2015
        <br />
        Want to build your own Splurty Web App?
        <a href="http://thefirehoseproject.com">Learn how to code here</a>
      </div>
    </div>
  </div>

</body>
</html>
