<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-12"> <!-- was 3-col - centered logo -->
      <div class="colorbar">
      </div>
        <div class="cloud">
          <p>
            Don't let 'em rain<br />on your parade
          </p>
        </div>
    </div>
    <div class="col-xs-4 col-xs-offset-4 slogan">
      Advice to help you navigate this world of other people's children.
    </div>
    <div class="col-xs-4 links">
      <%= link_to 'Contribute', '#' %>
      &#32;|&#32;
      <%= link_to 'About', '#' %>
    </div>
  </header>
  <hr />

  <br class="clear" />
  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="col-xs-6 ">
        <%= link_to "This isn't enough, I need more", "#", :class => 'next-quote' %>
      </div>
      <div class="col-xs-6 text-right footer-blurb">
        Remanufactured by SELLIS&#169;2015
        <br />
        Want to build your own Splurty Web App? 
        <a href="http://thefirehoseproject.com">Learn how to code here</a>
      </div>
    </div>
  </div>
</body>
</html>
