<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-12"> <!-- was 3-col - centered logo -->
      <div class="colorbar">
      </div>
      <%= link_to root_path, :class => 'logo' do %>
        <div id="cloud">
          <p>
            Don't let 'em rain<br />on your parade
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4 col-xs-offset-4 slogan">
      Advice to help you navigate this world of other people's children.
    </div>
    <div class="col-xs-4 text-right links">
      <%= link_to 'Contribute', new_quote_path %>
      &#32;|&#32;
      <%= link_to 'About', about_path %>
    </div>
  </header>
  <hr />

  <br class="clear" />
  <div class="container">
    <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-danger err">
        <%= flash[:error].html_safe %>
      </div>
      <div class="col-xs-1"> <!-- needed for spacing/styling -->
      </div>
    <% end %>
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="col-xs-6 ">
        <%= link_to "What else have you got?", root_path, :class => 'next-quote' %>
      </div>
      <div class="col-xs-6 text-right footer-blurb">
        Remanufactured by SELLIS&#169;2015
        <br />
        Want to build your own Splurty Web App?
        <a href="http://thefirehoseproject.com">Learn how to code here</a>
      </div>
    </div>
  </div>
</body>
</html>
